# Entornos virtuales (muy importante)
venv/
.venv/
env/
.env/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de distribución y compilación
dist/
build/
*.egg-info/

# Archivos de IDEs y editores (opcional, según tu preferencia)
.vscode/
.idea/
.DS_Store

# Archivos de entorno y secretos
.env
.flaskenv

# Logs
*.log